<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.pngborder{
				border: 1px solid red;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div>
				<!-- v-bind 属性绑定指令，v-on主要绑定事件类 -->
				<img :src="Imgsrc" :title="pngTitle" :class="{pngborder:isborder}" @click="changeBorder" />
				<br />
				<img :src="Imgsrc" :title="pngTitle" :class="isborder?'pngborder':''" />
			</div>
			<hr />
			<div>
				<!-- v-on指令补充 -->
				<input type="text" @keyup="print(message)" v-model="message"/>
				<button @click="alertText(pngTitle,Imgsrc)">点击</button>
			</div>
			<hr />
			<div>
				<input type="text" name="" id="" v-model="message">
			</div>
		</div>
		<script src="./js/vue.js"></script>
		<script>
			var app = new Vue({
				el:"#app",
				data:{
					Imgsrc:"./img/logo.png",
					pngTitle:"我是logo",
					isborder:true,
					message:"v-model的双向数据绑定"
				},
				methods:{
					changeBorder:function () {
						this.isborder = !this.isborder
					},
					alertText:function (p1,p2) {
						alert(p1+p2)
					},
					print:function (p1) {
						console.log(p1)
					}
				}
			})
		</script>
	</body>
</html>
